body{
    background-color: aqua;
    display: grid;
    place-items: center;
    height: 100vh;

}

div{
    background-color: gainsboro;
    height: 300px;
    width: 300px;
    transform: scale(1);
    display: grid;
    place-items: center;
    border-radius: 10px;
    box-shadow: 6px 6px 6em 20px gray;
   
   
}